{{# field }}
<div class="field">
	<label for="{{ id }}">{{ label }}</label>
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />
	{{# validationMessage }}
		<div class="field__validation-message">{{{ validationMessage }}}</div>
	{{/ validationMessage }}
	{{# fieldNote }}
		<div class="field__note respect-case">{{{ fieldNote }}}</div>
	{{/ fieldNote }}

</div><!--end c-field-->
{{/ field }}
