<header class="site-header">
  {{^ isHirer }}
  <img class="site-logo" src="/images/zoek-logo.svg"/>
  {{/ isHirer }}
  {{# isHirer }}
  <img class="site-logo" src="/images/zoek-hirer-logo.svg"/>
  {{/ isHirer }}

  {{> atoms-menu-toggle }}
</header>