<header class="site-header">
  {{^ isHirer }}
  <img class="site-logo" src="/images/zoek-logo.svg"/>
  {{/ isHirer }}
  {{# isHirer }}
  <img class="site-logo" src="/images/zoek-hirer-logo.svg"/>
  {{/ isHirer }}

  {{! TODO: change this to menu toggle atom }}
  <img class="main-menu-toggle" src="/images/menu-icon-hirer.svg"/>
</header>