<footer class="site-footer">
  <div class="contents">
    {{> molecules-social-links }}

    <nav>
      {{# footerMenu }}
      <ul>
        <li><a href={{ href }} >{{ text }}</a></li>
      </ul>
      {{/ footerMenu }}
    </nav>
  </div>
</footer>