<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffC800;"></span>
		<span class="sg-label">
			$color-secondary-yellow <br />
			#ffC800
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$color-secondary-white <br />
			#ffffff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8B98AA;"></span>
		<span class="sg-label">
			$color-secondary-lightaccent <br />
			#8B98AA
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #455B78;"></span>
		<span class="sg-label">
			$color-secondary-darkaccent <br />
			#455B78
		</span>
	</li>
</ul>