<p>Base template for pages — it contains important defaults for mobile devices.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"&gt;
  &lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans:400,600"&gt;
  ...
  &lt;/head&gt;
  &lt;body&gt;
  ...
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><strong>Make sure you don't place anything before the <code>&lt;meta charset="utf-8"&gt;</code> tag.</strong></p>