<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffC800;"></span>
		<span class="sg-label">
			$color-secondary-yellow <br />
			#ffC800
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$color-secondary-white <br />
			#ffffff
		</span>
	</li>
</ul>