<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #D0D6DD;"></span>
		<span class="sg-label">
			$color-brand-dark-blue-50 <br />
			#D0D6DD
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8B98AA;"></span>
		<span class="sg-label">
			$color-brand-dark-blue-50 <br />
			#8B98AA
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #455B78;"></span>
		<span class="sg-label">
			$color-brand-dark-blue-70 <br />
			#455B78
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #001633;"></span>
		<span class="sg-label">
			$color-brand-dark-blue-130 <br />
			#001633
		</span>
	</li>
</ul>