<section class="content-container">

  {{> organisims-site-header }}

  <main>
    <section class="hero">
      {{# hero }}
      {{> molecules-hero-block }}
      {{/ hero }}
    </section>

    <section class="pitches">
      {{# pitches }}
      {{> molecules-pitch-block }}
      {{/ pitches }}
    </section>
  </main>

  {{> organisims-site-footer }}

</section>

{{! should this really be an organisim }}
{{> organisims-site-navigation}}