{{> organisims-site-header }}

<section class="hero">
  {{# hero }}
  {{> molecules-hero-block }}
  {{/ hero }}
</section>

<section class="pitches">
  {{# pitches }}
  {{> molecules-pitch-block }}
  {{/ pitches }}
</section>

{{> organisims-site-footer }}