<section class="content-container">

  {{> organisims-site-header }}

  <main class="single-form">
    <div class="form-container">
    {{# loginForm }}
    {{> organisims-stacked-form }}
    {{/ loginForm }}

    <p>{{# forgottenPasswordLink }}{{> atoms-link}}{{/ forgottenPasswordLink }}</p>
    </div>

    <p>Not registered? {{# createAccountLink }}{{> atoms-link}}{{/ createAccountLink }}</p>
  </main>

  {{> organisims-site-footer }}

</section>

{{> atoms-site-navigation}}