<section class="content-container">

  {{> organisims-site-header }}

  <main>
    <section class="form-container">
    {{# loginForm }}
    {{> organisims-stacked-form }}
    {{/ loginForm }}

    <p>{{# forgottenPasswordLink }}{{> atoms-link}}{{/ forgottenPasswordLink }}</p>
    </section>
    <section class="form-footnotes">
      <p>Not registered? {{# createAccountLink }}{{> atoms-link}}{{/ createAccountLink }}</p>
    </section>
  </main>

  {{> organisims-site-footer }}

</section>

{{> atoms-site-navigation}}