
$menu-width: baselineGridUnits(8);

.menu-toggle-container {
  @include small-screen-up {
    display: none;
  }  
}

nav.main-menu {
  flex: 0 1 auto;

  background-color: $color-brand-dark-blue;
  color: $color-secondary-white;
  min-width: $menu-width;

  padding-left: baselineGridUnits(1);
  padding-top: baselineGridUnits(1);

  display: none;

  ul {
    list-style: none;
    padding-left: 0;
  }

  & a{
    color: $color-secondary-white;
    text-decoration: none;
    display: inline-block;
    @include sentence-case;
    @include font-stack-medium;
  }

}

html.hirer nav.main-menu {
  background-color: $color-brand-pink;
}


body.main-menu__displayed nav.main-menu{
  display: unset;
}

body.main-menu__displayed .content-container {
  margin-left: -1 * $menu-width;
}


@mixin menu-toggle-background-size {
  background-size: baselineGridUnits(1) baselineGridUnits(1);
}

input[type="checkbox"]#menu-toggle {
  display:inline-block;
  opacity: 0;

  & + label::after{
    content: "";
    display:inline-block;
    width: baselineGridUnits(1);
    height: baselineGridUnits(1);
    vertical-align:middle;
    background: url('../images/menu-icon.svg') left top no-repeat;
    @include menu-toggle-background-size;
    cursor:pointer;
  }

  // &:focus + label::after{
  //   background: url('../images/svgs/checkbox-focus.svg') center top no-repeat;
  // }

  &:checked + label::after{
    background:url('../images/menu-icon-open.svg') left top no-repeat;
    @include menu-toggle-background-size;
  }

}

html.hirer input[type="checkbox"]#menu-toggle {

  & + label::after{
    background: url('../images/menu-icon-hirer.svg') left top no-repeat;
    @include menu-toggle-background-size;
  }

  &:checked + label::after{
    background: url('../images/menu-icon-hirer-open.svg') left top no-repeat;
    @include menu-toggle-background-size;
  }
}