<div class="field">
	<label for="{{ id }}">{{ label }}</label>
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />
	{{# validationMessage }}
		<div class="field__validation-message respect-case">{{{ validationMessage }}}</div>
	{{/ validationMessage }}
	{{# note }}
		<div class="field__note respect-case">{{{ note }}}</div>
	{{/ note }}
</div>
