<ul class="button-group">
  {{# buttons }}
  <li>
    {{# primaryButton }}{{> atoms-primary-button }}{{/ primaryButton }}{{# cautionButton }}{{> atoms-caution-button }}{{/ cautionButton }}{{# negativeButton }}{{> atoms-negative-button }}{{/ negativeButton }}{{# button }}{{> atoms-button }}{{/ button }}
  </li>
  {{/ buttons }}
</ul>