
<ul class="button-container">
  <li><button type="button" class="primary-button {{ btnClass }}">{{ buttonText.primary }}</button></li>
  <li><button type="button" class="{{ btnClass }}">{{ buttonText.secondary }}</button></li>
</ul>