
<ul class="button-group">
  <li><button type="button" class="positive-button {{ btnClass }}">{{ buttonText.positive }}</button></li>
  <li><button type="button" class="caution-button {{ btnClass }}">{{ buttonText.caution }} <span class="screen-reader">Use with caution</span></button></li>
  <li><button type="button" class="negative-button {{ btnClass }}">{{ buttonText.negative }} <span class="screen-reader">Cannot be undone</span></button></li>
  <li><button type="button" class="neutral-button {{ btnClass }}">{{ buttonText.neutral }} <span class="screen-reader">For information</span></button></li>
</ul>