<form class="c-form c-form--stacked" method="post" action="{{ link.pages-dashboard }}">
  {{# formTitle }}
  <h2 class="form__title section__title">{{ formTitle }}</h2>
  {{/ formTitle }}

  {{# fields}}
  {{> molecules-field }}
  {{/ fields}}

  {{# textarea }}
  {{> molecules-textarea }}
  {{/ textarea }}

  {{# primaryButton }}
  {{> atoms-primary-button }}
  {{/ primaryButton }}
</form>
