
button {
  color: $color-secondary-white;
  background-color: $color-brand-dark-blue;
  font-family: $secondary-font-stack;
  border: none;
  border-radius: 2rem;
  padding: 0.65rem 1.5rem;
  letter-spacing: 0.03rem;
  width: 100%;
  @include sentence-case;

  &.respect-case {
    @include respect-case;
  }

}

button.primary-button {
  background-color: $color-brand-pink;
}

button.small-button {
  font-size: 0.8rem;
  padding: 0.5rem 1.3rem;
}

button.positive-button {
  background-color: $color-utility-positive;
}

button.caution-button {
  background-color: $color-utility-caution;
}

button.negative-button {
  background-color: $color-utility-negative;
}

button.neutral-button {
  background-color: $color-utility-neutral;
}

ul.button-group {
  list-style: none;
  padding-left: 0;

  & li {
    margin: 1rem 0.3rem;
  }
}