
button {
  color: $color-secondary-white;
  background-color: $color-brand-dark-blue;
  font-family: $secondary-font-stack;
  border: none;
  border-radius: 1.5rem;
  padding: 0;
  letter-spacing: 0.03rem;
  
  line-height: baselineGridUnits(1);
  margin: baselineGridUnits(0.5) 0;
  height: baselineGridUnits(2);

  width: 100%;
  @include sentence-case;

  &.respect-case {
    @include respect-case;
  }

}

button.primary-button {
  background-color: $color-brand-pink;
}

button.small-button {
  font-size: fontSizeForScale(-1);
  // 3rem = x2 baseline units
  margin: 1.25rem 0; //TODO: DRY this out 1.25rem this is same as small text
  height: 2rem;
}

button.positive-button {
  background-color: $color-utility-positive;
}

button.caution-button {
  background-color: $color-utility-caution;
  color: $color-neutral-70;
}

button.negative-button {
  background-color: $color-utility-negative;
}

button.neutral-button {
  background-color: $color-utility-neutral;
}

ul.button-group {
  list-style: none;
  padding-left: 0;

  li {
    margin: 0;
  }

  li + li button {
    margin-top: 0;
  }
}