// Colour tinting from https://coolors.co/

$color-brand-pink: #f04196;
$color-brand-dark-blue: #001e46;
$color-brand-cyan: #82dcdc;

$color-secondary-yellow: #ffC800;
$color-secondary-white: #ffffff;
$color-secondary-lightaccent: #8B98AA;
$color-secondary-darkaccent: #455B78;

$color-neutral-90: #171717;
$color-neutral-80: #2E2E2E;
$color-neutral-70: #454545;
$color-neutral-60: #5C5C5C;

$color-neutral-30: #B9B9B9;
$color-neutral-20: #D0D0D0;
$color-neutral-10: #E7E7E7;


$color-utility-positive: #80BF3A;
$color-utility-positive-subtle: #D0E7B7;
$color-utility-caution: #FFCB4B;
$color-utility-caution-subtle: #FFE7AD;
$color-utility-negative: #DD3F2B;
$color-utility-negative-subtle: #F8DCD8;
$color-utility-neutral: #3FA4F5;
$color-utility-neutral-subtle: #CAE6FC;