// Colour tinting from https://coolors.co/app

$color-brand-pink: #f04196;
$color-brand-dark-blue: #001e46;
$color-brand-cyan: #82dcdc;

$color-secondary-yellow: #ffC800;
$color-secondary-white: #ffffff;

$brand-color-pink-140: #8f275a;
$brand-color-pink-120: #c1347a;
$brand-color-pink-80: #f467ad;
$brand-color-pink-60: #f690c2;
$brand-color-pink-40: #f9b4d5;
$brand-color-pink-20: #fbd9ea;

$color-brand-dark-blue-140: #00142D;
$color-brand-dark-blue-80: #334C6B;
$color-brand-dark-blue-60: #677991;
$color-brand-dark-blue-40: #99A5B5;
$color-brand-dark-blue-20: #CDD1DA;

$color-brand-cyan-160: #345858;
$color-brand-cyan-140: #4e8484;
$color-brand-cyan-120: #68afaf;
$color-brand-cyan-80: #9be2e2;
$color-brand-cyan-60: #b4eaea;
$color-brand-cyan-40: #cdf1f1;
$color-brand-cyan-20: #e6f8f8;

$color-secondary-yellow-80: #ffd334;
$color-secondary-yellow-60: #fede65;
$color-secondary-yellow-40: #ffe999;
$color-secondary-yellow-20: #fff4cc;

$color-secondary-grey: #F8F6F7;

$color-neutral-90: #171717;
$color-neutral-80: #2E2E2E;
$color-neutral-70: #454545;
$color-neutral-60: #5C5C5C;

$color-neutral-30: #B9B9B9;
$color-neutral-20: #D0D0D0;
$color-neutral-10: #E7E7E7;

$color-utility-positive: #80BF3A;
$color-utility-positive-subtle: #D0E7B7;
$color-utility-caution: #FFCB4B;
$color-utility-caution-subtle: #FFE7AD;
$color-utility-negative: #DD3F2B;
$color-utility-negative-subtle: #F8DCD8;
$color-utility-neutral: #3FA4F5;
$color-utility-neutral-subtle: #CAE6FC;