$primary-font-stack: 'Nunito Sans', sans-serif;
$secondary-font-stack: 'Open Sans', sans-serif;

$font-size-xl: 1.5rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.8rem;
$font-size-xs: 0.6rem;

.primary-font {
  font-family: $primary-font-stack
}

.secondary-font {
  font-family: $secondary-font-stack
}