
@mixin placeholder {
  color: $color-neutral-30;
  @include sentence-case;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  @include placeholder;
}

::placeholder {
  @include placeholder;
}

input[type=text], input[type=password], textarea {
  color: $color-brand-pink;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  border: 1px solid $color-neutral-30;
  padding: 0 baselineGridUnits(0.5); //TODO: gutter? 
  width: 100%;
  height: baselineGridUnits(2);
  @include fitToBaselineGrid(0);
  margin:0;

  outline: none;

  &:focus {
    border-color: $color-brand-pink;
  }
}

div.field {
  margin-bottom: baselineGridUnits(1);

  label {
    color: $color-brand-dark-blue;
    @include fitToBaselineGrid(0);
    margin-bottom: 0;
    display: block;
    @include sentence-case;

    &.respect-case {
      @include respect-case;
    }
  }

  div.field__note {
    font-size: $font-size-s;
    color: $color-neutral-60;
    @include fitToBaselineGrid(-1);
    margin: 0;

    @include sentence-case;

    &.respect-case {
      @include respect-case;
    }
  }

  div.field__validation-message {
    font-size: $font-size-s;
    background-color: $color-utility-caution;
    @include fitToBaselineGrid(-1);
    margin: 0;

    @include sentence-case;

    &.respect-case {
      @include respect-case;
    }
  }
}

// TODO: what?! and where does this all fit — what is concrete and what is grid?
main.single-form {
  //TODO this needs DRY'ing
  background-color: $color-brand-cyan;
  background-image: url(../images/clouds.svg), url(../images/clouds-upsidedown.svg);
  background-position: bottom center, top center;
  background-repeat: repeat-x;
  padding: baselineGridUnits(5) baselineGridUnits(0.5) baselineGridUnits(4) baselineGridUnits(0.5);

  .form-container {
    background-color: $color-secondary-white;
    padding: 0 baselineGridUnits(0.5);
    border-radius: 0.5rem;
  }

  form {
    h2 {
      text-align: center;
      font-family: "AvenirLTStd-Black";
    }
  }

  p {
    text-align: center;
    margin-top: baselineGridUnits(1)
  }
}

html.hirer {
  main.single-form {
  //TODO this needs DRY'ing
    background-color: $color-brand-dark-blue-80;

    & > p {
      color: $color-secondary-white;

      a {
        color: $color-brand-pink-80;
      }
    }
  }
}