$gutter-width: baselineGridUnits(1);

@mixin grid-weight ($flex-grow: 4) {
  flex: $flex-grow 1 0; //default flex-basis: 0 for IE10
}

@mixin grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; 

  @include small-screen-up {
    flex-flow: row wrap;
  }

  & > * {
    @include grid-weight(4);
    margin: 0 $gutter-width/2;
  }

  @include small-screen-up {

      & > *:first-child {
        margin-left: 0;    
      }

      & > *:last-child {
        margin-right: 0;    
      }  
  }
}
