

section.hero {
  flex: 0 1 auto;

  @include clouds-from-above;
  padding: 0 baselineGridUnits(0.5) baselineGridUnits(5) baselineGridUnits(0.5);
}

html.hirer section.hero {
  color: $color-secondary-white;
}

section.pitches {
  flex: 0 1 auto;        
  padding: 0 baselineGridUnits(0.5);
  background-color: $color-secondary-white
}

html.home main,
html.home.hire main {
  @include clouds-from-below;  
}