section.hero {
  flex: 0 1 auto;

  background: $color-brand-dark-blue-80;
  background-image: url(../images/clouds.svg), url(../images/clouds-upsidedown.svg);
  background-position: bottom center, top center;
  background-repeat: repeat-x;
  color: $color-secondary-white;

  padding: baselineGridUnits(4) baselineGridUnits(0.5);
}
section.pitches {
  flex: 0 1 auto;        
  padding: 0 baselineGridUnits(0.5);
}