
body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
  align-self: stretch;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.content-container {
  flex: 0 1 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: stretch;
}