
@mixin clouds-from-below {
  background-image: url(../bootstrap/images/clouds-upsidedown.svg);
  background-position: top center;
  background-repeat: repeat-x;  
  padding: baselineGridUnits(5) 0 0 0;
}

@mixin clouds-from-above {
  background-image: url(../bootstrap/images/clouds.svg);
  background-position: bottom center;
  background-repeat: repeat-x;  
}

@mixin clouds{
  background-image: url(../bootstrap/images/clouds.svg), url(../bootstrap/images/clouds-upsidedown.svg);
  background-position: bottom center, top center;
  background-repeat: repeat-x;  
  padding: baselineGridUnits(5) 0 baselineGridUnits(5) 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

main {
  background-color: $color-brand-cyan;
  @include clouds;

  flex: 1 1 auto; // flex-grow 1 (when header/footer flex-grow = 0 => full height main
  align-self: stretch;

  justify-content: flex-start;

  @include small-screen-up {
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
  }
}

.content-container {
  flex: 0 1 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: stretch;
}

html.hirer main {
  @include clouds;
  background-color: $color-brand-dark-blue-80;
  color: $color-brand-dark-blue-20;
}

@mixin card {
  padding-top: baselineGridUnits(1);
}

@mixin contents-positioning {
  max-width: $large-screen-breakpoint;
  margin: 0 auto;
}

main .contents {

  @include grid;
  @include contents-positioning;

  & > article {
    @include grid-weight(8);
    @include card;
    margin-bottom: baselineGridUnits(1);
  }

  & > aside {
    @include grid-weight(4);
    margin-bottom: baselineGridUnits(1); // needed to balance length when on larger screens
  }
}
