footer.site-footer {
  flex: 0 1 auto;

  background-color: $color-secondary-white;
  color: $color-brand-dark-blue;
  padding: baselineGridUnits(1) baselineGridUnits(0.5) 0 baselineGridUnits(0.5);

  .contents {
    @include contents-positioning;
  }

  nav {
    li a {
      color: $color-brand-dark-blue-80;
    }
  }

  ul.social-links {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    li {
      flex: 0 1 auto;
      text-align: center;
    }
  }
}
