header.site-header {
  background-color: $color-secondary-white;
  padding: baselineGridUnits(1) baselineGridUnits(0.5) 0 baselineGridUnits(0.5);

  flex: 0 1 auto;

  .contents {
    display: flex;
    justify-content: space-between;
  
    @include contents-positioning;
  }

    img.site-logo {
      height: 3rem;
      flex: 0 1 auto;
    }

    nav.desktop-menu {
      height: 1.5rem;
      flex: 0 1 auto;      
      display: none;

      @include small-screen-up {
        display: block;
      }

      ul {
        list-style: none;
        padding-left: 0;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        li {
          flex: 0 1 auto;
          text-align: center;
          padding-left: $gutter-width;

          a {
            display: inline-block;
            @include sentence-case;
            @include font-stack-medium;
          }
        }
      }

    }
}

html.hirer nav.desktop-menu {
  a {
    color: $color-brand-dark-blue-80;
  }
}