$small-screen-breakpoint: 48rem;
$large-screen-breakpoint: 72rem;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

span.screen-reader {
  display: none;
}

@mixin small-screen-up {
  @media screen and (min-width: $small-screen-breakpoint) {
    @content;
  }
}

@mixin large-screen-up {
  @media screen and (min-width: $large-screen-breakpoint) {
    @content;
  }
}

@mixin screen-larger-than($min-width: $small-screen-breakpoint) {
  @media screen and (min-width: $min-width) {
    @content;
  }  
}